:root {
    --primary: #1c1247;
    --secondary: greenyellow;
    --other: ghostwhite;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    src: url(../fonts/GAU_pop_magic.TTF);
    font-family: pop; 
}

body {
    text-align: center;
    font-family: helvetica;
    background-color: var(--primary);
    color: var(--other);
}

a {
    text-decoration: none;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.combo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about {
    display: flex;
    text-align: left;
}

.contact {
    display: flex;
    flex: 1;
    width: auto;
    text-align: left;
}