:root {
    --primary: #1c1247;
    --secondary: greenyellow;
    --other: ghostwhite;
    --click: palegreen;
    --shadow1:darkslateblue;
    --shadow2: indigo;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    src: url(../fonts/GAU_pop_magic.TTF);
    font-family: pop; 
}

body {
    text-align: center;
    font-family: helvetica;
    font-weight: bold;
    background-color: var(--primary);
    color: var(--other);
}

h1, h2, h3 {
    font-family: pop;
}

a {
    text-decoration: none;
}

a:visited { 
    text-decoration: none;
    color: var(--secondary);
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px;
    padding: 10px;
    border-bottom: 20px solid var(--secondary);
    border-radius: 70px;
}

header h1 a {
    font-size: 50px;
}

header a {
    padding: 20px;
    color: var(--secondary);
}

header a:hover {
    color: var(--other);
    text-shadow: 3px 4px var(--shadow1);
}

header a:active {
    color: var(--click);
    text-shadow: 4px 4px var(--shadow2);
}

ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    line-height: 2.0;
    font-size: 30px;
    font-weight: bolder;
}

footer {
    padding: 20px;
    color: var(--shadow2);
    background-color: var(--secondary);
    text-align: left;
}

.combo {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

.combo h2 {
    padding: 10px;
}

address {
    font-style: normal;
    line-height: 1.5;
}

address a {
    color: var(--secondary);
}

address a:hover {
    color: var(--other);
    text-shadow: 3px 4px var(--shadow1);
}

address a:active {
    color: var(--click);
    text-shadow: 4px 4px var(--shadow2);
}

.works {
    padding: 20px;
}

.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
}

h3 {
    padding: 10px;
    font-size: 20px;
    color: var(--secondary);
}

h3 a:hover {
    color: var(--other);
    text-shadow: 3px 4px var(--shadow1);
}

h3 a:active {
    color: var(--click);
    text-shadow: 4px 4px var(--shadow2);
}

h4 {
    padding: 10px;
    text-align: left;
}

#latest h4 {
    text-align: center;
}

#latest {
    width: 100%;
    align-items: center;
    padding: 10px;
}