:root {
    --primary: #1c1247;
    --secondary: greenyellow;
    --other: ghostwhite;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    src: url(../fonts/GAU_pop_magic.TTF);
    font-family: pop; 
}

body {
    text-align: center;
    font-family: helvetica;
    font-weight: bold;
    background-color: var(--primary);
    color: var(--other);
}

h1, h2, h3 {
    font-family: pop;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px;
    padding: 10px;
    border-bottom: 20px solid var(--secondary);
    border-radius: 70px;
}

header h1 a {
    font-size: 50px;
}

header a {
    padding: 20px;
    text-decoration: none;
    color: var(--secondary);
    border: none;
}

header a:hover {
    color: var(--other);
    text-shadow: 3px 4px darkslateblue;
}

header a:active {
    color: forestgreen;
    text-shadow: 4px 4px indigo;
}

ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    line-height: 2.0;
    font-size: 30px;
    font-weight: bolder;
}

.combo {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

address {
    font-style: normal;
}

.boxes {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#latest {
    width: 100%;
}