:root {
    --primary: #1c1247;
    --secondary: greenyellow;
    --other: ghostwhite;
}

@font-face {
    src: url(../fonts/GAU_pop_magic.TTF);
    font-family: pop; 
}

body {
    font-family: helvetica;
    background-color: var(--primary);
    color: var(--other);
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: sticky;
    z-index: 9999;
}

header h1 {
    font-family: pop;
    font-size: 50px;
}

header a {
    text-decoration: none;
    color: var(--secondary);
}

header nav {
    display: flex;
    justify-content: space-between;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;

}

header nav ul li {
    display: flex;
    justify-content: space-between;
}

header nav ul li a {
    font-weight: bold;
    font-size: 2.0vw;
}