:root {
    --primary: #1c1247;
    --secondary: greenyellow;
    --other: ghostwhite;
}

@font-face {
    src: url(../fonts/GAU_pop_magic.TTF);
    font-family: pop; 
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: helvetica;
    background-color: var(--primary);
    color: var(--other);
}

header {
    display: flex;
    position: sticky;
    z-index: 9999;
    justify-content: space-between;
}

header h1 {
    font-family: pop;
    font-size: 50px;
}

header a {
    text-decoration: none;
    color: var(--secondary);
}


header nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 25px;
    font-weight: bold;
    font-size: 25px;
}

footer {
    padding: 15px;
    font-family: pop;
    color: var(--primary);
    background-color: var(--secondary);
}

.combo {
    display: flex;
}

.about {

}

.about h2 {

}

.about p {
    line-height: 1.75;
}

.contact {
    flex: 1;
}

.works {

}

.blocks {
    display: flex;
    flex-wrap: wrap;
}

#latest {
 
}